:root {
    --brand-color: #453e3e;
}

.navbar {
    background-color: var(--brand-color);
}

nav .container{
    background: #453e3e;
}

.container{
    background: #e9ecef;
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.card-header:first-child {
    border-radius: calc(1.2rem - 1px) calc(0.25rem - 1px) 0 0;
}

.btn-primary:hover{
    background-color: #7d1616;
    border: #453e3e;
}

.card-deck .card {
    margin-bottom: 15px;
}

.card {

    border-radius: 2rem;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(69 62 62);
    border-bottom: 1px solid rgb(0 0 0 / 93%);
    color: #ffffff;
}

.btn{
    vertical-align: unset;
}

#task-table table {
    width: 100%;
    border-collapse: collapse;
    background-color: #212529;
    color: #fff;
    font-family: Arial, sans-serif;
}
  
  /* Define o estilo das células do cabeçalho */
  #task-table th {
    font-weight: bold;
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #fff;
  }
  
  /* Define o estilo das células do corpo */
  #task-table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #fff;
  }
  
  /* Define o estilo da primeira coluna */
  #task-table td:first-child {
    background-color: #e9ecef;
    width: 44.5rem;
    color: #453e3e;
    text-align: left;
    border-radius: 0.5rem 0 0;
}
  
  /* Define o estilo da segunda coluna */
  #task-table td:nth-child(2) {
    background-color: #333333;
    color: #a8a8a8;
    text-shadow: 1px 1px #000;
  }
  
  /* Define o estilo da terceira coluna */
  #task-table td:last-child {
    background-color: #453e3e;
    border-radius: 0 0 0.5rem;
  }

.form-items{
    width: 47rem;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

input[type="file"] {
    background-color: #efefef;
    border: 1px solid #ddd;
    border-radius: 5px;
    color: #453e3e;
    font-size: 17px;
    padding: 3px;
    width: 100%;
    box-sizing: border-box;
    cursor: pointer;
}

input[type="file"]:hover {
    border-color: #999;
    cursor: pointer;
}

input[type="file"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.upload-img img{
    max-width: 20rem;
    margin-left: 2rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
}


.upload-img{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-content: stretch;
    align-items: flex-end;
    border-radius: 0.3rem;
    padding: 0rem;
  }

.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    justify-content: center;
}

.table td, .table th {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #453e3e;
}

a {
    color: #453e3e;
    text-decoration: none;
    background-color: transparent;
}
.btn-default{
    background: #cfdeec;
    color: black;
    font-weight: 500;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #453e3e;
    border-color: #453e3e;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #453e3e;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.btn-danger {
    color: #fff;
    background-color: #453e3e;
    border-color: #453e3e;
}